@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: 'Geist Variable', sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

@theme {
  --color-palette-primary-lighter: #C8FAD6;
  --color-palette-primary-light: #5BE49B;
  --color-palette-primary-main: #00A76F;
  --color-palette-primary-dark: #007867;
  --color-palette-primary-darker: #004B50;
  --color-palette-primary-contrastText: #FFFFFF;
  --color-palette-primary-lighterChannel: 200 250 214;
  --color-palette-primary-lightChannel: 91 228 155;
  --color-palette-primary-mainChannel: 0 167 111;
  --color-palette-primary-darkChannel: 0 120 103;
  --color-palette-primary-darkerChannel: 0 75 80;
  --color-palette-primary-contrastTextChannel: 255 255 255;
  --color-palette-secondary-lighter: #EFD6FF;
  --color-palette-secondary-light: #C684FF;
  --color-palette-secondary-main: #8E33FF;
  --color-palette-secondary-dark: #5119B7;
  --color-palette-secondary-darker: #27097A;
  --color-palette-secondary-contrastText: #FFFFFF;
  --color-palette-secondary-lighterChannel: 239 214 255;
  --color-palette-secondary-lightChannel: 198 132 255;
  --color-palette-secondary-mainChannel: 142 51 255;
  --color-palette-secondary-darkChannel: 81 25 183;
  --color-palette-secondary-darkerChannel: 39 9 122;
  --color-palette-secondary-contrastTextChannel: 255 255 255;
  --color-palette-info-lighter: #CAFDF5;
  --color-palette-info-light: #61F3F3;
  --color-palette-info-main: #00B8D9;
  --color-palette-info-dark: #006C9C;
  --color-palette-info-darker: #003768;
  --color-palette-info-contrastText: #FFFFFF;
  --color-palette-info-lighterChannel: 202 253 245;
  --color-palette-info-lightChannel: 97 243 243;
  --color-palette-info-mainChannel: 0 184 217;
  --color-palette-info-darkChannel: 0 108 156;
  --color-palette-info-darkerChannel: 0 55 104;
  --color-palette-info-contrastTextChannel: 255 255 255;
  --color-palette-success-lighter: #D3FCD2;
  --color-palette-success-light: #77ED8B;
  --color-palette-success-main: #22C55E;
  --color-palette-success-dark: #118D57;
  --color-palette-success-darker: #065E49;
  --color-palette-success-contrastText: #ffffff;
  --color-palette-success-lighterChannel: 211 252 210;
  --color-palette-success-lightChannel: 119 237 139;
  --color-palette-success-mainChannel: 34 197 94;
  --color-palette-success-darkChannel: 17 141 87;
  --color-palette-success-darkerChannel: 6 94 73;
  --color-palette-success-contrastTextChannel: 255 255 255;
  --color-palette-warning-lighter: #FFF5CC;
  --color-palette-warning-light: #FFD666;
  --color-palette-warning-main: #FFAB00;
  --color-palette-warning-dark: #B76E00;
  --color-palette-warning-darker: #7A4100;
  --color-palette-warning-contrastText: #1C252E;
  --color-palette-warning-lighterChannel: 255 245 204;
  --color-palette-warning-lightChannel: 255 214 102;
  --color-palette-warning-mainChannel: 255 171 0;
  --color-palette-warning-darkChannel: 183 110 0;
  --color-palette-warning-darkerChannel: 122 65 0;
  --color-palette-warning-contrastTextChannel: 28 37 46;
  --color-palette-error-lighter: #FFE9D5;
  --color-palette-error-light: #FFAC82;
  --color-palette-error-main: #FF5630;
  --color-palette-error-dark: #B71D18;
  --color-palette-error-darker: #7A0916;
  --color-palette-error-contrastText: #FFFFFF;
  --color-palette-error-lighterChannel: 255 233 213;
  --color-palette-error-lightChannel: 255 172 130;
  --color-palette-error-mainChannel: 255 86 48;
  --color-palette-error-darkChannel: 183 29 24;
  --color-palette-error-darkerChannel: 122 9 22;
  --color-palette-error-contrastTextChannel: 255 255 255;
  --color-palette-common-black: #000000;
  --color-palette-common-white: #FFFFFF;
  --color-palette-common-blackChannel: 0 0 0;
  --color-palette-common-whiteChannel: 255 255 255;
  --color-palette-common-background: #fff;
  --color-palette-common-onBackground: #000;
  --color-palette-common-backgroundChannel: 255 255 255;
  --color-palette-common-onBackgroundChannel: 0 0 0;
  --color-palette-grey-50: #FCFDFD;
  --color-palette-grey-100: #F9FAFB;
  --color-palette-grey-200: #F4F6F8;
  --color-palette-grey-300: #DFE3E8;
  --color-palette-grey-400: #C4CDD5;
  --color-palette-grey-500: #919EAB;
  --color-palette-grey-600: #637381;
  --color-palette-grey-700: #454F5B;
  --color-palette-grey-800: #1C252E;
  --color-palette-grey-900: #141A21;
  --color-palette-grey-50Channel: 252 253 253;
  --color-palette-grey-100Channel: 249 250 251;
  --color-palette-grey-200Channel: 244 246 248;
  --color-palette-grey-300Channel: 223 227 232;
  --color-palette-grey-400Channel: 196 205 213;
  --color-palette-grey-500Channel: 145 158 171;
  --color-palette-grey-600Channel: 99 115 129;
  --color-palette-grey-700Channel: 69 79 91;
  --color-palette-grey-800Channel: 28 37 46;
  --color-palette-grey-900Channel: 20 26 33;
  --color-palette-grey-A100: #f5f5f5;
  --color-palette-grey-A200: #eeeeee;
  --color-palette-grey-A400: #bdbdbd;
  --color-palette-grey-A700: #616161;
  --color-palette-divider: rgba(145 158 171 / 20%);
  --color-palette-TableCell-border: rgba(145 158 171 / 20%);
  --color-palette-shared-inputUnderline: rgba(145 158 171 / 32%);
  --color-palette-shared-inputOutlined: rgba(145 158 171 / 20%);
  --color-palette-shared-paperOutlined: rgba(145 158 171 / 16%);
  --color-palette-shared-buttonOutlined: rgba(145 158 171 / 32%);
  --color-palette-text-primary: #1C252E;
  --color-palette-text-secondary: #637381;
  --color-palette-text-disabled: #919EAB;
  --color-palette-text-primaryChannel: 28 37 46;
  --color-palette-text-secondaryChannel: 99 115 129;
  --color-palette-text-disabledChannel: 145 158 171;
  --color-palette-background-paper: #FFFFFF;
  --color-palette-background-default: #FFFFFF;
  --color-palette-background-neutral: #F4F6F8;
  --color-palette-background-paperChannel: 255 255 255;
  --color-palette-background-defaultChannel: 255 255 255;
  --color-palette-background-neutralChannel: 244 246 248;
  --color-palette-action-active: #637381;
  --color-palette-action-hover: rgba(145 158 171 / 8%);
  --color-palette-action-selected: rgba(145 158 171 / 16%);
  --color-palette-action-focus: rgba(145 158 171 / 24%);
  --color-palette-action-disabled: rgba(145 158 171 / 80%);
  --color-palette-action-disabledBackground: rgba(145 158 171 / 24%);
  --color-palette-action-hoverOpacity: 0.08;
  --color-palette-action-selectedOpacity: 0.08;
  --color-palette-action-focusOpacity: 0.12;
  --color-palette-action-activatedOpacity: 0.12;
  --color-palette-action-disabledOpacity: 0.48;
  --color-palette-action-activeChannel: 99 115 129;
  --color-palette-action-selectedChannel: 145;
  --color-palette-Alert-errorColor: rgb(102, 68, 52);
  --color-palette-Alert-infoColor: rgb(38, 97, 97);
  --color-palette-Alert-successColor: rgb(47, 94, 55);
  --color-palette-Alert-warningColor: rgb(102, 85, 40);
  --color-palette-Alert-errorFilledBg: var(--palette-error-main, #FF5630);
  --color-palette-Alert-infoFilledBg: var(--palette-info-main, #00B8D9);
  --color-palette-Alert-successFilledBg: var(--palette-success-main, #22C55E);
  --color-palette-Alert-warningFilledBg: var(--palette-warning-main, #FFAB00);
  --color-palette-Alert-errorFilledColor: #fff;
  --color-palette-Alert-infoFilledColor: rgba(0, 0, 0, 0.87);
  --color-palette-Alert-successFilledColor: rgba(0, 0, 0, 0.87);
  --color-palette-Alert-warningFilledColor: rgba(0, 0, 0, 0.87);
  --color-palette-Alert-errorStandardBg: rgb(255, 246, 242);
  --color-palette-Alert-infoStandardBg: rgb(239, 253, 253);
  --color-palette-Alert-successStandardBg: rgb(241, 253, 243);
  --color-palette-Alert-warningStandardBg: rgb(255, 250, 239);
  --color-palette-Alert-errorIconColor: var(--palette-error-main, #FF5630);
  --color-palette-Alert-infoIconColor: var(--palette-info-main, #00B8D9);
  --color-palette-Alert-successIconColor: var(--palette-success-main, #22C55E);
  --color-palette-Alert-warningIconColor: var(--palette-warning-main, #FFAB00);
  --color-palette-AppBar-defaultBg: var(--palette-grey-100, #F9FAFB);
  --color-palette-Avatar-defaultBg: var(--palette-grey-400, #C4CDD5);
  --color-palette-Button-inheritContainedBg: var(--palette-grey-300, #DFE3E8);
  --color-palette-Button-inheritContainedHoverBg: var(--palette-grey-A100, #f5f5f5);
  --color-palette-Chip-defaultBorder: var(--palette-grey-400, #C4CDD5);
  --color-palette-Chip-defaultAvatarColor: var(--palette-grey-700, #454F5B);
  --color-palette-Chip-defaultIconColor: var(--palette-grey-700, #454F5B);
  --color-palette-FilledInput-bg: rgba(0, 0, 0, 0.06);
  --color-palette-FilledInput-hoverBg: rgba(0, 0, 0, 0.09);
  --color-palette-FilledInput-disabledBg: rgba(0, 0, 0, 0.12);
  --color-palette-LinearProgress-primaryBg: rgb(158, 221, 200);
  --color-palette-LinearProgress-secondaryBg: rgb(212, 177, 255);
  --color-palette-LinearProgress-errorBg: rgb(255, 190, 176);
  --color-palette-LinearProgress-infoBg: rgb(158, 228, 240);
  --color-palette-LinearProgress-successBg: rgb(171, 232, 193);
  --color-palette-LinearProgress-warningBg: rgb(255, 223, 158);
  --color-palette-Skeleton-bg: rgba(var(--palette-text-primaryChannel, 28 37 46) / 0.11color-);
  --color-palette-Slider-primaryTrack: rgb(158, 221, 200);
  --color-palette-Slider-secondaryTrack: rgb(212, 177, 255);
  --color-palette-Slider-errorTrack: rgb(255, 190, 176);
  --color-palette-Slider-infoTrack: rgb(158, 228, 240);
  --color-palette-Slider-successTrack: rgb(171, 232, 193);
  --color-palette-Slider-warningTrack: rgb(255, 223, 158);
  --color-palette-SnackbarContent-bg: rgb(50, 50, 50);
  --color-palette-SnackbarContent-color: #fff;
  --color-palette-SpeedDialAction-fabHoverBg: rgb(216, 216, 216);
  --color-palette-StepConnector-border: var(--palette-grey-400, #C4CDD5);
  --color-palette-StepContent-border: var(--palette-grey-400, #C4CDD5);
  --color-palette-Switch-defaultColor: var(--palette-common-white, #FFFFFF);
  --color-palette-Switch-defaultDisabledColor: var(--palette-grey-100, #F9FAFB);
  --color-palette-Switch-primaryDisabledColor: rgb(158, 221, 200);
  --color-palette-Switch-secondaryDisabledColor: rgb(212, 177, 255);
  --color-palette-Switch-errorDisabledColor: rgb(255, 190, 176);
  --color-palette-Switch-infoDisabledColor: rgb(158, 228, 240);
  --color-palette-Switch-successDisabledColor: rgb(171, 232, 193);
  --color-palette-Switch-warningDisabledColor: rgb(255, 223, 158);
  --color-palette-Tooltip-bg: rgba(69, 79, 91, 0.92);
  --color-palette-dividerChannel: 145;
  --shadows-0: none;
  --shadows-1: 0px 2px 1px -1px rgba(145 158 171 / 20%), 0px 1px 1px 0px rgba(145 158 171 / 14%), 0px 1px 3px 0px rgba(145 158 171 / 12%);
  --shadows-2: 0px 3px 1px -2px rgba(145 158 171 / 20%), 0px 2px 2px 0px rgba(145 158 171 / 14%), 0px 1px 5px 0px rgba(145 158 171 / 12%);
  --shadows-3: 0px 3px 3px -2px rgba(145 158 171 / 20%), 0px 3px 4px 0px rgba(145 158 171 / 14%), 0px 1px 8px 0px rgba(145 158 171 / 12%);
  --shadows-4: 0px 2px 4px -1px rgba(145 158 171 / 20%), 0px 4px 5px 0px rgba(145 158 171 / 14%), 0px 1px 10px 0px rgba(145 158 171 / 12%);
  --shadows-5: 0px 3px 5px -1px rgba(145 158 171 / 20%), 0px 5px 8px 0px rgba(145 158 171 / 14%), 0px 1px 14px 0px rgba(145 158 171 / 12%);
  --shadows-6: 0px 3px 5px -1px rgba(145 158 171 / 20%), 0px 6px 10px 0px rgba(145 158 171 / 14%), 0px 1px 18px 0px rgba(145 158 171 / 12%);
  --shadows-7: 0px 4px 5px -2px rgba(145 158 171 / 20%), 0px 7px 10px 1px rgba(145 158 171 / 14%), 0px 2px 16px 1px rgba(145 158 171 / 12%);
  --shadows-8: 0px 5px 5px -3px rgba(145 158 171 / 20%), 0px 8px 10px 1px rgba(145 158 171 / 14%), 0px 3px 14px 2px rgba(145 158 171 / 12%);
  --shadows-9: 0px 5px 6px -3px rgba(145 158 171 / 20%), 0px 9px 12px 1px rgba(145 158 171 / 14%), 0px 3px 16px 2px rgba(145 158 171 / 12%);
  --shadows-10: 0px 6px 6px -3px rgba(145 158 171 / 20%), 0px 10px 14px 1px rgba(145 158 171 / 14%), 0px 4px 18px 3px rgba(145 158 171 / 12%);
  --shadows-11: 0px 6px 7px -4px rgba(145 158 171 / 20%), 0px 11px 15px 1px rgba(145 158 171 / 14%), 0px 4px 20px 3px rgba(145 158 171 / 12%);
  --shadows-12: 0px 7px 8px -4px rgba(145 158 171 / 20%), 0px 12px 17px 2px rgba(145 158 171 / 14%), 0px 5px 22px 4px rgba(145 158 171 / 12%);
  --shadows-13: 0px 7px 8px -4px rgba(145 158 171 / 20%), 0px 13px 19px 2px rgba(145 158 171 / 14%), 0px 5px 24px 4px rgba(145 158 171 / 12%);
  --shadows-14: 0px 7px 9px -4px rgba(145 158 171 / 20%), 0px 14px 21px 2px rgba(145 158 171 / 14%), 0px 5px 26px 4px rgba(145 158 171 / 12%);
  --shadows-15: 0px 8px 9px -5px rgba(145 158 171 / 20%), 0px 15px 22px 2px rgba(145 158 171 / 14%), 0px 6px 28px 5px rgba(145 158 171 / 12%);
  --shadows-16: 0px 8px 10px -5px rgba(145 158 171 / 20%), 0px 16px 24px 2px rgba(145 158 171 / 14%), 0px 6px 30px 5px rgba(145 158 171 / 12%);
  --shadows-17: 0px 8px 11px -5px rgba(145 158 171 / 20%), 0px 17px 26px 2px rgba(145 158 171 / 14%), 0px 6px 32px 5px rgba(145 158 171 / 12%);
  --shadows-18: 0px 9px 11px -5px rgba(145 158 171 / 20%), 0px 18px 28px 2px rgba(145 158 171 / 14%), 0px 7px 34px 6px rgba(145 158 171 / 12%);
  --shadows-19: 0px 9px 12px -6px rgba(145 158 171 / 20%), 0px 19px 29px 2px rgba(145 158 171 / 14%), 0px 7px 36px 6px rgba(145 158 171 / 12%);
  --shadows-20: 0px 10px 13px -6px rgba(145 158 171 / 20%), 0px 20px 31px 3px rgba(145 158 171 / 14%), 0px 8px 38px 7px rgba(145 158 171 / 12%);
  --shadows-21: 0px 10px 13px -6px rgba(145 158 171 / 20%), 0px 21px 33px 3px rgba(145 158 171 / 14%), 0px 8px 40px 7px rgba(145 158 171 / 12%);
  --shadows-22: 0px 10px 14px -6px rgba(145 158 171 / 20%), 0px 22px 35px 3px rgba(145 158 171 / 14%), 0px 8px 42px 7px rgba(145 158 171 / 12%);
  --shadows-23: 0px 11px 14px -7px rgba(145 158 171 / 20%), 0px 23px 36px 3px rgba(145 158 171 / 14%), 0px 9px 44px 8px rgba(145 158 171 / 12%);
  --shadows-24: 0px 11px 15px -7px rgba(145 158 171 / 20%), 0px 24px 38px 3px rgba(145 158 171 / 14%), 0px 9px 46px 8px rgba(145 158 171 / 12%);
  --customShadows-z1: 0 1px 2px 0 rgba(145 158 171 / 16%);
  --customShadows-z4: 0 4px 8px 0 rgba(145 158 171 / 16%);
  --customShadows-z8: 0 8px 16px 0 rgba(145 158 171 / 16%);
  --customShadows-z12: 0 12px 24px -4px rgba(145 158 171 / 16%);
  --customShadows-z16: 0 16px 32px -4px rgba(145 158 171 / 16%);
  --customShadows-z20: 0 20px 40px -4px rgba(145 158 171 / 16%);
  --customShadows-z24: 0 24px 48px 0 rgba(145 158 171 / 16%);
  --customShadows-dialog: -40px 40px 80px -8px rgba(0 0 0 / 24%);
  --customShadows-card: 0 0 2px 0 rgba(145 158 171 / 20%), 0 12px 24px -4px rgba(145 158 171 / 12%);
  --customShadows-dropdown: 0 0 2px 0 rgba(145 158 171 / 24%), -20px 20px 40px -4px rgba(145 158 171 / 24%);
  --customShadows-primary: 0 8px 16px 0 rgba(0 167 111 / 24%);
  --customShadows-secondary: 0 8px 16px 0 rgba(142 51 255 / 24%);
  --customShadows-info: 0 8px 16px 0 rgba(0 184 217 / 24%);
  --customShadows-success: 0 8px 16px 0 rgba(34 197 94 / 24%);
  --customShadows-warning: 0 8px 16px 0 rgba(255 171 0 / 24%);
  --customShadows-error: 0 8px 16px 0 rgba(255 86 48 / 24%);
  --opacity-inputPlaceholder: 1;
  --opacity-inputUnderline: 0.32;
  --opacity-switchTrackDisabled: 0.48;
  --opacity-switchTrack: 1;
  --opacity-filled-commonHoverBg: 0.72;
  --opacity-outlined-border: 0.48;
  --opacity-soft-bg: 0.16;
  --opacity-soft-hoverBg: 0.32;
  --opacity-soft-commonBg: 0.08;
  --opacity-soft-commonHoverBg: 0.16;
  --opacity-soft-border: 0.24;
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);


}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    @apply font-sans;
  }
}